

.header{
    background: linear-gradient(90deg, var(--btn-primary) 0%, var(--primary) 100%);
    background-size: contain;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    padding: .5rem 1rem;
}

.header .logo-header{
    color: #fff;
    font-weight: var(--extra-bold);
}

.header .btn-hamburguer-header{
    width: 30px;
    height: 30px;
}

.header .nav-header .btn-close-header{
    display: block;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-weight: var(--bold);
    font-size: 2.5rem;
    color: #fff;
}

.header .nav-header .btn-close-header:hover{
    color: var(--btn-secondary);
}

.header .nav-header{
    display: flex;
    position: fixed;
    transition: all 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:-100vh;
    left: -1px;
    height: 100vh;
    width: 101%;
    background: linear-gradient(90deg, var(--btn-primary) 0%, var(--primary) 100%);
}

.header .nav-header.open{
    display: flex;
    position: fixed;
    top: 0;
    left: -1px;
    
}

.header .nav-header .list-nav-header{
    height: 40vh;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    list-style: none;
    padding: 0;
}

.header .nav-header .list-nav-header .logo-header{
    height: 60px;
    width: auto;
    margin-bottom: 3rem;
}

.header .nav-header .list-nav-header .item-list-nav-header{
    font-size: 2rem;
    font-weight: var(--bold);
    text-decoration: none;
    padding: .5rem 2rem;
    border-radius: 2rem;
}

.header .nav-header .list-nav-header .item-list-nav-header:hover{
    background-color: #fff;
}

.header .nav-header .list-nav-header .item-list-nav-header a{
    color: #fff;
}

.header .nav-header .list-nav-header .item-list-nav-header a:hover{
    color:var(--btn-primary);
}

.bran_header_footer{
    color:#fff;
    font-size: 3rem;
    font-weight: var(--light);
    text-decoration: none;
    position: absolute;
    bottom:2rem;

}