.crono_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 300px;
    background-image: url("/images/background_crono.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: .3rem;
}

.crono_container .title_crono{
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin-top: 1rem;
    text-transform: uppercase;
    text-shadow: 3px 1px 5px #0007;
}

.crono_container .content_crono{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 1rem;
    column-gap: 2rem;
}

.crono_container .content_crono .item_container_crono{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.crono_container .content_crono .item_crono{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #fff;
    background: linear-gradient(90deg, var(--btn-primary) 0%, var(--btn-secondary) 70%);
}

.crono_container .content_crono .item_crono span{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    color: var(--btn-secondary);
    font-size: 1.5rem;
    font-weight: var(--bold);
}

.crono_container .content_crono .item_container_crono p{
    color:#fff;
    margin: 1rem auto;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: var(--bold);
}

