.hero-banner {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0;
    height: auto;
    width: 100%;
    margin-top: 90px;
}

@media screen and (min-width: 800px) {
    .hero-banner .hero_image_1 {
        content: url("/images/hero_banner_desktop_1.webp");
    }

    .hero-banner .hero_image_2 {
        content: url("/images/hero_banner_desktop_2.webp");
    }

    .hero-banner .hero_image_3 {
        content: url("/images/hero_banner_desktop_3.webp");
    }

    .hero-banner .hero_image_4 {
        content: url("/images/hero_banner_desktop_4.webp");
    }
    .hero-banner div.desktop-hidden {
        display: none;
    }
}