

.hero-banner{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0;
    height: auto;
    width: 100%;
    margin-top: 90px;
}